<html>
    <head>

    </head>

    <body>
        <h2>Flask Table</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date Made</th>

            </tr>
            {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.desc }}</td>
                <td>{{ game.date }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Javascript Table</h2>
        <table>
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Date Made</th>
            </tr>
            </thead>
            <tbody id="result">
              <!-- generated rows -->
            </tbody>
          </table>
          
          <!-- Script is layed out in a sequence (no function) and will execute when page is loaded -->
          <script>
            // prepare HTML result container for new output
            const resultContainer = document.getElementById("result");
          
            // prepare fetch options
            const url = "http://127.0.0.1:8086/api/games/";
            const headers = {
              method: 'GET', // *GET, POST, PUT, DELETE, etc.
              mode: 'cors', // no-cors, *cors, same-origin
              cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
              credentials: 'omit', // include, *same-origin, omit
              headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
              },
            };
          
            // fetch the API
            fetch(url, headers)
              // response is a RESTful "promise" on any successful fetch
              .then(response => {
                // check for response errors
                if (response.status !== 200) {
                    const errorMsg = 'Database response error: ' + response.status;
                    console.log(errorMsg);
                    const tr = document.createElement("tr");
                    const td = document.createElement("td");
                    td.innerHTML = errorMsg;
                    tr.appendChild(td);
                    resultContainer.appendChild(tr);
                    return;
                }
                // valid response will have json data
                response.json().then(data => {
          
                    // Country data
                    for (const row of data) {
          
                      // tr for each row
                      const tr = document.createElement("tr");
                      // td for each column
                      const name = document.createElement("td");
                      const description = document.createElement("td");
                      const date_made = document.createElement("td");          
                      // data is specific to the API
                      name.innerHTML = row.name;
                      description.innerHTML = row.desc; 
                      date_made.innerHTML = row.date; 
          
                      // this builds td's into tr
                      tr.appendChild(name);
                      tr.appendChild(description);
                      tr.appendChild(date_made);
          
                      // add HTML to container
                      resultContainer.appendChild(tr);
                    }
                })
            })
            // catch fetch errors (ie ACCESS to server blocked)
            .catch(err => {
              console.error(err);
              const tr = document.createElement("tr");
              const td = document.createElement("td");
              td.innerHTML = err;
              tr.appendChild(td);
              resultContainer.appendChild(tr);
            });
          </script>
    </body>
</html>