<html>
    <head>

    </head>

    <body>
        <script>
            // student-developed procedure update_progress, includes sequencing, selection, and iteration.
function updateProgress(letter, word, blanks, progress) {
  for (let i = 0; i < word.length; i++) {
    if (letter === word[i]) {
      blanks[i * 2] = word[i];
      // keeps track of progress, if progress = word, the user has won
      progress[i] = word[i];
    }
  }
}

const wordList = ["apple", "money", "grades", "college"];
const word = wordList[Math.floor(Math.random() * wordList.length)];

let lives = 7;

// creates a list, number of blanks depends on length of the word

// the blanks list and the progress list stores the number of letters that the user has guessed correctly (data abstraction), list is used rather 
//than defining a variable for every single letter (managing complexity?)

let blanks = Array(word.length * 2).fill("_").join(" ").split("");
let progress = Array(word.length).fill(" ");

while (lives > 0) {
  if (progress.join("") === word) {
    console.log("You Win!");
    break;
  }
  console.log(blanks.join(""));
  const userInput = prompt("Enter a letter.");

  if (word.includes(userInput.toLowerCase())) {
    console.log(`The letter ${userInput} is in the word`);
    updateProgress(userInput.toLowerCase(), word, blanks, progress);
  } else {
    lives--;
    console.log(`Sorry! The letter ${userInput} is not in the word.`);
  }
}

if (lives === 0) {
  console.log(`You Lost! The word was ${word}.`);
}


        </script>
    </body>
</html>